{
	retainLines: true
	, plugins: ["macros", "@babel/plugin-transform-modules-commonjs"]
	, exclude: ['@babel/plugin-transform-runtime']
	, "presets": [
		['@babel/preset-env', {
			"exclude": ['@babel/plugin-transform-new-target']
		}]
	]
}
